
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(26, 25, 25);
}

header {
    background-color: rgb(82, 75, 40);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    font-size: 24px;
}


nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.featured-sports {
    text-align: center;
    padding: 40px 20px;
    color: white;
}

.sport-card {
    
        background-color: rgb(82, 75, 40);
      
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.sport-card img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
}

.upcoming-events {
    text-align: center;
    padding: 40px 20px;
}
.upcoming-events h2{
    color: white;
}
.event {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.gallery {
    text-align: center;
    padding: 40px 20px;
    color: white;
}

.image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact {
    text-align: center;
    padding: 40px 20px;
    color: white;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact form label {
    display: block;
    margin-bottom: 10px;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact form textarea {
    height: 150px;
}

.contact form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    .header-container {
        padding: 0 20px;
    }

    header h1 {
        font-size: 20px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .hero {
        padding: 80px 20px;
    }

    .sport-card,
    .event {
        width: 100%;
    }

    .sport-card img,
    .image img {
        max-width: 100%;
    }

    .contact form {
        padding: 0 20px;
    }
}
